* {
    box-sizing: border-box;
}

.body {
    display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    height: 102vh;
}

.content {
    background-color: aliceblue;
    padding-left: 45px;
    padding-right: 150px;
}

.intro-text {
    padding-top: 110px;
    padding-bottom: 20px;
    font-size: 1.25rem;
}

fieldset {
    border: 0;
    padding: 0;
}

legend {
    margin-bottom: 15px;
    font-size: 1.30rem;
}

button {
    margin-top: 10px;
}

label {
    font-family: 'Work Sans', sans-serif;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}